*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-style: normal;
}

.container{
    background-color:#ffc657;
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.row::after{
    content: ""; display: block; clear: both;
}

/*! Header */
header{color: #3a291b; }

header > .logo{
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    
}
header > .logo2{
  padding-top: 15px;  float: left; font-weight: 500; font-size: 25px; padding: 20px 25px;    
}


/*! menu */
header > .menu{float: right;}
.menu ul{
    list-style: none;
}
.menu li{
    float: left;
}
.menu li a{
    padding: 35px 20px;
    text-decoration: none;
    color: #3a291b;
    display: block;
}
.menu ul li a:hover{
    font-weight: 600;
    border-bottom: 3px  solid white;
    padding-bottom: 8px;
}

/*! section  */
.row>section{
       height: 730px;
    background-color: #ffc657;
    background-image: url(../resimler/resim.png);
    background-repeat: no-repeat;
    background-position: right; 
    margin-right: 60px; 
    margin-top:-200px;
}
.sectionText{
    font-weight: 500;
    padding-top:300px;
    text-shadow: 4px 4px wheat;
    
}
.sectionText h1{
     font-size:100px;
    margin-left:50px;
}
.sectionText h2{
    font-size:80px;
    margin-left:50px;

}
