*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bbh-sans-bogle-regular {
  font-family: "BBH Sans Bogle", sans-serif;
  font-style: normal;
}

.container{
    background-color:#ffc657;
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.row::after{
    content: ""; display: block; clear: both;
}

/*! Header */
header{color: #3a291b; position: relative; z-index: 13; }

header > .logo{
    float: left;
    padding-left: 40px;
    padding-top: 10px;
    
}
header > .logo2{
  padding-top: 15px;  float: left; font-weight: 500; font-size: 25px; padding: 20px 25px;    
}


/*! menu */
header > .menu{float: right;}
.menu ul{
    list-style: none;
}
.menu li{
    float: left;
}
.menu li a{
    padding: 35px 20px;
    text-decoration: none;
    color: #3a291b;
    display: block;
}
.menu ul li a:hover{
    font-weight: 600;
    border-bottom: 3px  solid white;
    padding-bottom: 8px;
}

/*! section  */
.row>section{
    margin-top: -190px;
       height: 730px;
    background-color: #ffc657;
    background-image: url(../resimler/resim.png);
    background-repeat: no-repeat;
    background-position: right; 
    position: relative;
}
.sectionText{
    font-weight: 500;
    padding-top:300px;
    color:#3a291b;
}
.sectionText h1{
    font-size:140px;
    margin-left:50px;
    text-shadow: 4px 4px wheat;
    margin-bottom: -30px;
}
.sectionText h2{
    font-size:100px;
    margin-left:50px;
    text-shadow: 4px 4px wheat;
    
}
.sectionText p{
    border: 1px dashed black;
    font-weight: 10;
    margin-left: 50px;
    margin-right: 1030px;
    padding: 8px;
    position: absolute;
    top:280px;
}
section .ticket{
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left:750px;
    background-color: red;
    border-radius: 50%;
    
}
section .ticketBorder{
    position: absolute;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-left:760px;
    margin-top:10px;
    border:3px dashed white;
    border-style: dashed;
}
section .ticketText{
    position: absolute;
    top: 20px;
    left: 30px;
    color:white;
}
section .ticketText h1{
    float:left;
    font-size: 50px;
}
section .ticketText h1 span{
    font-size: 20px;
}
section .ticketText p{
    float:unset;
    font-size:20px;
}
